language: python
dist: xenial
sudo: true
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
  - 3.7
env:
  DJANGO=1.8
  DJANGO=1.9
  DJANGO=1.10
  DJANGO=1.11
  DJANGO=2.0
  DJANGO=2.1
matrix:
  - exclude:
    - python: 2.7
      env: DJANGO=2.0

    - python: 2.7
      env: DJANGO=2.1

    - python: 3.4
      env: DJANGO=2.1
before_install:
  - sudo apt-get -q -y update

  # The following three lines is a fix for travis CI, since it wouldn't be
  # able to install the dependencies correctly.
  # See: https://github.com/travis-ci/travis-ci/issues/2683
  - sudo apt-get remove -q -y binutils gdal-bin libproj-dev libgeos-c1
  - sudo add-apt-repository -y ppa:ubuntugis/ubuntugis-unstable

  # Required to install Pillow
  - sudo apt-get -q -y install build-essential
  # GIS requirements.
  - sudo apt-get -q -y install binutils gdal-bin libproj-dev libgeos-c1v5
install:
  # pip >= 8 dropped Python 3.2 support
  - pip install pip wheel
  - pip install tox
  - pip install -q tox-travis
script:
  - tox
notifications:
  irc:
    channels:
      - "irc.freenode.org#django-floppyforms"
    on_success: change
    on_failure: always
deploy:
  provider: pypi
  user: gremu
  password:
    secure: HAgxb7ebUfIQSfcxtjKoXO3FCBiujCo4GU2lYO8IUPeSdurPG6e+uABzwg88d7Zt1Zuay2eleAJzqhvwU2bCOKr68wjkNw3yWRslvLAMK3vj2LPPoWYsgmLJ1YiOvPloCdD2sIVSmpLEiN5HLUteh5j6D2BUbw67a9S2TXx1J8c=
  on:
    tags: true
    repo: gregmuellegger/django-floppyforms
    condition: "$TOXENV = py35-18"
