include README.rst
include CHANGES.rst
recursive-include floppyforms/templates *
recursive-include floppyforms/static *
recursive-include docs *.rst *.png
include docs/Makefile docs/conf.py
prune tests
prune requirements
